.explore-menu{
    display: flex;
    gap: 20px;
    flex-direction: column;
    color: #0000;
    background-color: rgb(0, 204, 255);
}
.explore-menu h1{
    color: #262626;
    font-weight: 500;
    }
.explore-menu-text
{
    max-width: 60%;
    columns: #808080;
}
.explore-menu-list  
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    overflow-x: scroll;
    margin: 20px 0px;
}
.explore-menu-list-item img{
    width: 15.5vw;
    min-width: 50px;
    cursor: pointer;
    border-radius: 25%;
    transform: 0.3S;
}
.explore-menu-list-item p{
    margin-top: 10px;
    color: #848484;
    cursor: pointer;
    font-size: max(1.4vww, 16px);
}
.explore-menu-list hr{
    margin: 10px 0px;
    height: 2px;
    background-color: #e2e2e2;
    border: none;
}
.explore-menu-list-item .active
{
    border: 4px solid blue;
    padding: 2px;

}
@media (max-width: 1050px){
    .explore-menu-text{
        max-width: 100%;
        font-size: 14px;
    }
}