.navbar{
    background-color: blue;
    background-size: cover;
    color: white;
    display: flex;
    justify-content: space-between;
    text-align: right;
    
}
.navbar-menu
{
    display: flex;
    list-style: none;
    gap: 20px;
    color: #c0daaf;
    font-size: 30px;
    float: right;
  
}
.navbar-right
{
    display: flex;
    align-items: right;
    gap: 5px;

}
.navbar button{
    background-color: transparent;
    font-size: 10px;
    border: 1px solid rgb(194, 74, 38);
    padding: 24px 30px;
    color: rgb(60, 143, 108);
    border-radius: 50px;
    cursor: pointer;
    transition: 0.3s;
}
.navbar button:hover{
    background-color: #d88eac;
}
.navbar .active
{
    padding-bottom: 2px;
    border-radius: 2px solid rgb(132, 11, 11);
}
.navbar li{
    cursor: pointer;
}
.navbar-search-icon .dot{
    position: absolute;
    min-width: 10px;
    min-height: 10px;
    background-color: rgb(163, 12, 12);
    border-radius: 5px;
    top: -8px;
    right: -8px;
}
.navbar-profile{
    position: relative;
}
.nav-profile-dropdown{
    position: absolute;
    display: none;
    right: 0;
    z-index: 1;
}
.navbar-profile:hover .nav-profile-dropdown{
    display: flex;
    padding: 12px 25px;
    flex-direction: column;
    border-radius: 4px;
    gap: 10px;
    list-style: none;
    outline: 2px solid white;
    background-color: #fff2ef;
    border: 1px solid tomato;
}
.nav-profile-dropdown{
    display: flex;
    gap: 10px;
    cursor: pointer;
    align-items: center;
}
.nav-profile-dropdown img{
    width: 20px;
}
.nav-profile-dropdown li:hover{
    color: tomato;
}
@media (max-width:1050px)
{
    .navbar .logo{
        width: 140px;
    }
    .navbar-menu{
        gap: 20px;
        font-size: 17px;
    }
    .navbar-right{
        gap: 30px;
    }
    .navbar-right img{
        width: 22px;
    }
    .navbar-right button{
        padding: 8px 25px;
    }
}
@media (max-width:900px)
{
    .navbar .logo{
        width: 120px;
    }
    .navbar-menu{
        gap: 15px;
        font-size: 16px;
    }
    .navbar-right{
        gap: 20px;
    }
    .navbar-right img{
        width: 20px;
    }
    .navbar-right button{
        padding: 7px 20px;
        font-size: 15px;
    }
}
@media (max-width:750px)
{
    .navbar-menu{
      display: none;
    }
}    