.sale-display
{
    margin-top: 30px;
}
.sale-display h2{
    font-size: ma(2vw, 24px);
    font-weight: 600;
}
.sale-display-list{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px,1fr));
    margin-top: 30px;
    gap: 10px;
    row-gap: 10px;
}